<h3>Veículos
   <small>lista de todos os veículos</small>
</h3>

<div ng-include="'/modules/veiculos/views/modal-veiculo.client.view.html'"></div>

<div ng-controller="VeiculosController as ctrl" class="container-fluid">    	

   <div class="row">
      <div class="col-lg-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               Veiculos |
               <small>lista de todos os veiculos!</small>
            </div>
            <div class="panel-body">

            <accordion>
               <accordion-group>
                  <accordion-heading>Pesquisa</accordion-heading>

                     <div class="panel-body">

                        <div class="row">

                           <div class="col-md-6">

                              <fieldset>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                       Nome
                                    </label>
                                    <div class="col-sm-10">
                                       <input type="text" 
                                          name="nome" 
                                          required 
                                          ng-model="pesquisa.nome" 
                                          class="form-control">                           
                                    </div>
                                 </div>
                              </fieldset>

                              <fieldset>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                       Cor
                                    </label>
                                    <div class="col-sm-10">
                                       <input type="text" 
                                          name="cor" 
                                          required 
                                          ng-model="pesquisa.cor" 
                                          class="form-control">                           
                                    </div>
                                 </div>
                              </fieldset>

                              <fieldset>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                       Status
                                    </label>
                                    <div class="col-sm-10">
                                       <input type="text" 
                                          name="status" 
                                          required 
                                          ng-model="pesquisa.status" 
                                          class="form-control">                           
                                    </div>
                                 </div>
                              </fieldset>

                           </div>

                           <div class="col-md-6">

                              <fieldset>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                       Ano
                                    </label>
                                    <div class="col-sm-10">
                                       <input type="text" 
                                          name="ano" 
                                          required 
                                          ng-model="pesquisa.ano" 
                                          class="form-control">                           
                                    </div>
                                 </div>
                              </fieldset>

                              <fieldset>
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                       Placa
                                    </label>
                                    <div class="col-sm-10">
                                       <input type="text" 
                                          name="placa" 
                                          required 
                                          ng-model="pesquisa.placa" 
                                          class="form-control">                           
                                    </div>
                                 </div>
                              </fieldset>

                           </div>
                        </div>

                     </div>

                  <div class="modal-footer">
                     <button ng-click="pesquisar()" class="btn btn-primary">Pesquisar</button>
                  </div>

               </accordion-group>               
            </accordion>

				<table datatable="" 
               id="veiculos-grid"
					dt-options="ctrl.dtOptions" 
					dt-columns="ctrl.dtColumns" 
					class="table table-striped table-bordered"></table>

			</div>
         </div>
      </div>
   </div>
</div>
