<div ng-controller="PasswordController" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">   
      <div class="panel-heading text-center">
         <a href="#">            
            <img src="modules/core/img/brand/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>

      <div class="panel-body">
         
         <div ng-show="error" class="alert alert-danger text-center">{{error}}</div>
         <div ng-show="success" class="alert alert-success text-center text-success">{{success}}</div>

         <p class="text-center pv">ESQUECI MINHA SENHA</p>
         <form class="form-validate" data-ng-submit="askForPasswordReset()" role="form" name="recoverForm" novalidate=""  autocomplete="off">
            <p class="text-center">Preencha com seu email para receber instruções sobre como redefinir sua senha.</p>
            <div class="form-group has-feedback">
               <label class="text-muted">Email</label>
               <input class="form-control" type="email" name="username" placeholder="Digite seu email" autocomplete="off" ng-model="credentials.username" required="" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
               <span class="text-danger" ng-show="recoverForm.username.$dirty && recoverForm.username.$error.required">Campo é obrigatório</span>
               <span class="text-danger" ng-show="recoverForm.username.$dirty && recoverForm.username.$error.email">Email inválido</span>
            </div>
            <button class="btn btn-danger btn-block" type="submit">Resetar</button>
         </form>
         <div class="pt-lg text-center"><a ui-sref="page.signin" class="text-muted">Lembrei meu acesso!</a>         
      </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>