<div ng-controller="PasswordController" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">   
      <div class="panel-heading text-center">
         <a href="#">            
            <img src="modules/core/img/brand/logo.png" alt="Image" class="block-center img-rounded" />
         </a>
      </div>

      <div class="panel-body">
         
         <div ng-show="error" class="alert alert-danger text-center">{{error}}</div>
         <div ng-show="success" class="alert alert-success text-center text-success">{{success}}</div>

         <p class="text-center pv">TROCAR MINHA SENHA</p>
      
         <form class="form-validate" data-ng-submit="resetUserPassword()" role="form" name="resetForm" novalidate=""  autocomplete="off">
            <div class="form-group has-feedback">

            	<div class="form-group has-feedback">
	               <label class="text-muted">Nova Senha</label>
	               <input id="id-password" type="password" placeholder="Senha" name="account_password" ng-model="passwordDetails.newPassword" ng-pattern="/^[a-zA-Z0-9]{6,10}$/" required="" class="form-control" />
	               <span class="fa fa-lock form-control-feedback text-muted"></span>
	               <span ng-show="resetForm.account_password.$dirty && resetForm.account_password.$error.required" class="text-danger">Campo obrigatório</span>
	               <span ng-show="resetForm.account_password.$dirty && resetForm.account_password.$error.pattern" class="text-danger">Senha deve conter 'a-zA-Z0-9' e 6-10 caracteres</span>
	            </div>

	            <div class="form-group has-feedback">
	               <label class="text-muted">Confirme Sua Senha</label>
	               <input type="password" name="account_password_confirm" required="" placeholder="Redigite a Senha" ng-model="passwordDetails.verifyPassword" ui-validate="'$value==passwordDetails.newPassword'" ui-validate-watch="'password'" class="form-control" />
	               <span class="fa fa-lock form-control-feedback text-muted"></span>
                  <span ng-show="resetForm.account_password_confirm.$dirty && resetForm.account_password_confirm.$error.required" class="text-danger">Campo obrigatório</span>                  
	               <span ng-show="resetForm.account_password_confirm.$dirty && resetForm.account_password_confirm.$error.validator" class="text-danger">Senha não confere</span>
	            </div>
          
            </div>
            <button class="btn btn-primary btn-block" type="submit">Trocar Senha</button>
         </form>
         <div class="pt-lg text-center">
            <a ui-sref="page.signin" class="text-muted">Lembrei meu acesso!</a>
            <br>
            <a ui-sref="page.recover" class="text-muted">Peça uma nova reinicialização da senha.</a>
         </div>
   </div>
   <!-- END panel-->
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>