<div class="block-center mb-lg mt-xl col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="row ng-scope">
		<div class="col-md-12"><!-- START panel-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="container container-md">
						<div class="row mb-lg">
						  <div class="col-md-8">
						     <div class="h1 text-bold">LOGOTIPO</div>
						     <p class="text-muted">Mulher Prática</p>
						  </div>      
						</div>
						<div class="col-md-8">
							<div class="h1 text-bold">CADASTRO</div>							
						</div>				 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="p-lg text-center">
		<span>&copy;</span>
		<span ng-bind="app.year"></span>
		<span>-</span>
		<span ng-bind="app.name"></span>
		<br/>
		<span ng-bind="app.description"></span>
	</div>
</div>
